* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html {
    position: relative;
    min-height: 100%;
}
body{
    margin: 0 0 150px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.clear-fix{
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
/*css samo za naprave, ki so ožje od 320px*/
/*css za domačo stran index.php*/
header {
    box-sizing: border-box;
}
.site-title {
    float: left;
    height: 62px;
    line-height: 62px;
    margin-left: 12px;
}
.site-title a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(226, 35, 35);
    font-size: 22px;
}
.site-spicy {
    font-weight: 700;
}
.burger-menu {
    cursor: pointer;
    float: right;
    height: 62px;
    line-height: 62px;
    width: 30px;
    text-align: center;
    margin-right: 12px;
}
.fa-custom-icon {
    color: rgb(226, 35, 35);
    vertical-align: middle;
}
nav {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.8s ease-in-out;
    transition: max-height 0.8s ease-in-out;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: rgb(226, 35, 35);
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 12px;
}
.showing {
    max-height: 400px;
    border-top: 1px solid rgb(226, 35, 35);
}
.fa-custom-list {
    margin-right: 10px;
    /*color: rgb(226, 35, 35);*/
}
.site-wrapper {}
.site-welcome {
    height: calc(100vh - 62px);
    background: url("../images/predstavitvena-1.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
}
.site-welcome h1 {
    max-width: 280px;
    margin: 0 auto;
    padding-top: 110px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 28px;
}
.site-welcome a {
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.fa-custom-welcome {
    color: white;
    padding-top: 90px;
}
.heading-spicy {
    color: rgb(34, 204, 241);
}
.site-about {}
.site-about-inner {
    max-width: 280px;
    margin: 0 auto;
}
.site-about-inner h2 {
    padding: 15px 0px;
    margin: 0;
    text-align: center;
}
.site-about-text {
    display: none;

}
.site-about-hr {
    display: none;
}
.fa-custom-about {
    color: rgb(226, 35, 35);
    position: relative;
    top: 15px;
    left: 126.28px;
}
.site-about-p {
    text-align: center;
    padding: 15px 15px;
    font-style: italic;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(45deg, rgb(226, 35, 35), rgb(162, 77, 214));
    background: linear-gradient(45deg, rgb(226, 35, 35), rgb(162, 77, 214));
    height: 150px;
    width: 100%;
}
.footer-contact {
    max-width: 150px;
    margin: 0 auto;
    line-height: 150px;
}
.footer-contact ul {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}
.footer-contact ul li {
    list-style: none;
    display: inline-block;
}
.footer-contact ul li+li {
    margin-left: 10px;
}
.footer-contact ul li a {
    color: white;
}
.footer-contact ul li a:active{
    color: black;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
}
.footer-contact ul span{
    position: absolute;
    display: inline-block;
    bottom: 5px;
    left: 0px;
    width: 150px;
    line-height: initial;
    font-size: 14px;
    color: white;
    font-style: italic;
}
/*konec cssja za domačo index.php stran*/

/*css za registracijo uporabnika*/
.register-user{
    border-top: 1px solid rgb(226, 35, 35);
    padding-bottom: 15px;

}
.register-user > h2{
    text-align: center;
    color: rgb(226, 35, 35);
}
form .register-form .add-err1, .add-err2, .add-err3, .add-err4{
    color: rgb(226, 35, 35);
}
form .register-form{
    padding: 0;
    margin: 0;
}
form .register-form li{
    list-style: none;
    padding: 5px 0;
    text-align: center;
}
form .register-form li input{
    display: block;
    width: 95%;
    margin: 3px auto 0 auto;
    padding: 6px 8px;
    border: 1px solid rgb(226, 35, 35);
    border-radius: 3px;
}
form .register-form li textarea{
    display: block;
    width: 95%;
    max-width: 95%;
    height: 110px;
    margin: 3px auto 0 auto;
    padding: 6px 8px;
    border: 1px solid rgb(226, 35, 35);
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    transition: none;
}
form .register-form li select{
    display: block;
    width: 95%;
    margin: 3px auto 0 auto;
    padding: 6px 8px;
    border: 1px solid rgb(226, 35, 35);
    border-radius: 3px;
    outline-color: rgb(5, 23, 255);
}
form .register-form li select option{
    width:95%;
}
form .register-form li input:focus, input:active, input:hover{
    outline-color: rgb(5, 23, 255);
    background: rgb(240, 240, 240);
}
form .register-form li .register-btn{
    cursor: pointer;
    margin: 10px auto 30px auto;
    padding: 15px 0;
    background: -webkit-linear-gradient(45deg, rgb(236, 77, 77), rgb(226, 35, 35), rgb(236, 77, 77));
    background: linear-gradient(45deg, rgb(236, 77, 77), rgb(226, 35, 35), rgb(236, 77, 77));
    color: white;
    text-transform: uppercase;
}
form .register-form li .register-btn:hover, .register-btn:active, .register-btn:focus{
    background: white;
    color: rgb(226, 35, 35);
    outline: none;
}
/*konec css za registracijo uporabnika*/

/*začetek cssja za seznam čilijev*/
.chilis-container{
    width: 100%;
    border-top: 1px solid rgb(226, 35, 35);
}
.chilis-container .chilis-title h2{
    font-size: 22px;
    color: rgb(226, 35, 35);
}
.chilis-container .chilis-title{
    position: relative;
    text-align: center;
}
.chilis-container .chilis-title a{
    display: inline-block;
    line-height: 29px;
    position: absolute;
    top: 0px;
    right: 10px;
    text-decoration: none;
    color: rgb(226, 35, 35);
    font-size: 17px;
}
.chilis-container .chilis-title a:hover{
    color: black;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}
.chilis-container .chilis-title a .add-new{
    display: none;
    margin-left: 3px;
}
.chilis-container .chili-list{
    width: 100%;
    position: relative;
    height: 205px;
}
.chilis-container .chili-list a{
    display: inline-block;
    text-decoration: none;

}
.chilis-container .chili-list a img{
    width: 100%;
    height: 205px;
    -o-object-fit: cover;
       object-fit: cover;
}
.chilis-container .chili-list a .chili-list-title{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    margin: 0;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.6);
}
.chilis-container .sort{
    width: 95%;
    margin: 0 auto;

}
.chilis-container .sort .sort-name{
    text-align: center;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.chilis-container .sort .sort-desc{
    margin-top: 5px;
    text-align: justify;
    color: rgb(87, 85, 85);
}
.chilis-container .chili-hr{
    border: 0;
    height: 5px;
    width: 30px;
    background: rgb(226, 35, 35);
    margin: 25px auto 25px auto;
}
.chilis-container .blog-posts{
    width: 100%;
}
.chilis-container .blog-posts .post{
    width: 100%;
    text-align: center;
}
.chilis-container .blog-posts .post a{
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    color: rgb(60, 60, 60);
    font-weight: 700;

}
.chilis-container .blog-posts .post a:hover, a:active, a:focus{
    color: rgb(175, 174, 174);
}
.chilis-container .blog-posts .post a .blog-info{
    display: block;
    font-style: italic;
    font-weight: 400;
}
/*konec cssja za seznam čilijev*/

/*začetek cssja za posamezen čili*/
.chili-container{
    border-top: 1px solid rgb(226, 35, 35);
    width: 100%;
}
.chili-container .chili-container-inner{
    width: 100%;
    margin: 25px 0;
    padding-bottom: 25px;
}
.chili-container .chili-container-inner .chili-name{
    text-align: center;
    padding: 10px 0;
}
.chili-container .chili-container-inner .chili-name h2{
    text-transform: uppercase;
    margin: 0;
    color: rgb(226, 35, 35);
}
.chili-container .chili-container-inner .chili-hr{
    border: 0;
    height: 5px;
    width: 30px;
    background: rgb(226, 35, 35);
    margin-bottom: 25px;
}
.chili-container .chili-container-inner .chili-image{
    width: 100%;
    height: 250px;
}
.chili-container .chili-container-inner .chili-image img{
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 250px;
    box-shadow: 0 20px 40px -20px rgb(154, 154, 154);
}
.chili-container .chili-container-inner .chili-details {
    width: 90%;
    margin: 0 auto;
}
.chili-container .chili-container-inner .chili-details .chili-headings{
    margin: 20px 0 0 0;
    color: rgb(226, 35, 35);
}
.chili-container .chili-container-inner .chili-details .chili-paragraphs{
    margin-top: 0;
    padding: 0 3px;
    text-align: justify;
}
.chili-container .chili-container-inner .chili-details .chili-change .chili-paragraphs:nth-of-type(1){
    margin-bottom: 0;
}
.chili-container .chili-container-inner .chili-details .chili-change .chili-paragraphs a{
    text-decoration: none;
    color: black;
}
.chili-container .chili-container-inner .chili-details .chili-change .chili-paragraphs a:hover{
    color: rgb(139, 139, 139);
}
.chili-container .chili-container-inner .chili-hr:nth-of-type(2),
.chili-container .chili-container-inner .chili-hr:nth-of-type(3){
    margin: 15px 0;
    width: 100%;
    height: 1px;
}
.chili-container .chili-container-inner .chili-comment-container{
    width: 100%;
}
.chili-container .chili-container-inner .chili-comment-container form{
    width: 90%;
    margin: 10px auto 0 auto;
}
.chili-container .chili-container-inner .chili-comment-container label{
    text-transform: uppercase;
    color: rgb(226, 35, 35);
}
.chili-container .chili-container-inner .chili-comment-container textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    margin: 6px 0;
    border: 1px solid rgb(226, 35, 35);
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    -webkit-transition: none;
    transition: none;
}
textarea:focus, textarea:active, textarea:hover{
    outline-color: rgb(5, 23, 255);
    background: rgb(240, 240, 240);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.chili-container .chili-container-inner .chili-comment-container .comment-button{
    border: 1px solid rgb(226, 35, 35);
    border-radius: 3px;
    color: white;
    background: rgb(226, 35, 35);
    text-transform: uppercase;
    width: 100%;
    height:25px;
    cursor: pointer;
}
.chili-container .chili-container-inner .chili-comment-container .comment-button:focus,
.chili-container .chili-container-inner .chili-comment-container .comment-button:active,
.chili-container .chili-container-inner .chili-comment-container .comment-button:hover{
    background: white;
    color: rgb(226, 35, 35);
    outline: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.chili-container .chili-container-inner .chili-comments{
    width: 100%;
}
.chili-container .chili-container-inner .chili-comments .user-comment{
    width: 90%;
    margin: 0 auto;
}
.chili-container .chili-container-inner .chili-comments .user-comment span{
    display: inline-block;
    margin-right: 5px;
    color: rgb(226, 35, 35);
}
.chili-container .chili-container-inner .chili-comments .user-comment .user-name{
    font-weight: 700;

}
.chili-container .chili-container-inner .chili-comments .user-comment .comment-date{
    font-style: italic;
}
/*konec cssja za posamezen čili*/

/*css za izpis errorjev*/
.error-container .error-text {
    width: 95%;
    margin: 0 auto;
    border: 1px solid rgb(35, 83, 226);
    background: rgb(35, 83, 226);;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}
/*konec cssja za izpis errorjev*/


/*css za naprave večje od 321px in manjše od 480px*/
@media screen and (min-width: 321px) and (max-width: 480px){

    /*css za domačo index.php stran*/
    body{
        margin: 0 0 200px;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    .site-about{
        margin: 38px 0 38px 0;
    }
    .site-about-inner h2{
        font-size: 27px;
    }
    .site-about-p{
        font-size: 18px;
    }
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 200px;
        width: 100%;
    }
    .footer-contact{
        line-height: 200px;
    }
    /*konec cssja za domačo index.php stran*/

    /*css za registracijo uporabnika*/
    .register-user > h2{
        text-align: center;
        text-transform: uppercase;
    }
    form .register-form li input{
    padding: 9px 11px;
    }
    form .register-form li textarea{
        display: block;
        width: 95%;
        max-width: 95%;
        margin: 3px auto 0 auto;
        padding: 6px 8px;
        border: 1px solid rgb(226, 35, 35);
        border-radius: 3px;
    }
    /*konec cssja za registracijo uporabnika*/

    /*začetek cssja za seznam čilijev*/
    .chilis-container .chili-list{
        height: 260px;
    }
    .chilis-container .chilis-title{
        position: relative;
        text-align: center;
    }
    .chilis-container .chilis-title h2{
        font-size: 22px;
    }
    .chilis-container .chilis-title a{
        display: inline-block;
        line-height: 29px;
        position: absolute;
        top: 0px;
        right: 10px;
        text-decoration: none;
        color: rgb(226, 35, 35);
        font-size: 16px;
    }
    .chilis-container .chilis-title a:hover{
        color: black;
        -webkit-transition: color 0.4s;
        transition: color 0.4s;
    }
    .chilis-container .chilis-title a .add-new{
        display: none;
    }

    .chilis-container .chili-list a img{
        height: 260px;
    }
    .chilis-container .chili-list a .chili-list-title{
        padding: 7px 12px;
        font-size: 17px;
        margin: 0;
    }
    /*konec cssja za seznam čilijev*/

    /*začetek cssja za posamezen čili*/
    .chili-container .chili-container-inner .chili-image{
        height: 260px;
    }
    .chili-container .chili-container-inner .chili-image img{
        height: 260px;
    }
    .chili-container .chili-container-inner .chili-details {
        width: 90%;
        margin: 20px auto 0 auto;
    }
    .chili-container .chili-container-inner .chili-details .chili-headings{
        margin: 20px 0 0 0;
        padding: 3px 0 0 3px;
    }
    .chili-container .chili-container-inner .chili-details .chili-headings:first-of-type{
        margin-top: 0;
    }
    .chili-container .chili-container-inner .chili-details .chili-paragraphs{
        margin-top: 0;
        padding: 0 3px;
        text-align: justify;
        color: rgb(85, 85, 85);
    }
    .chili-container .chili-container-inner .chili-comment-container textarea{
        min-height: 80px;
        margin: 8px 0;
    }
    .chili-container .chili-container-inner .chili-comment-container .comment-button{
        height:30px;
    }
    /*konec cssja za posamezen čili*/
    /*css za izpis errorjev*/
    .error-container .error-text {
        width: 95%;
        margin: 0 auto;
        border: 1px solid rgb(35, 83, 226);
        background: rgb(35, 83, 226);;
        padding: 5px 10px;
        border-radius: 3px;
        text-align: center;
        color: white;
        margin-bottom: 15px;
    }
    /*konec cssja za izpis errorjev*/

}
/*css za naprave, ki so večje od 481px ter manjše od 779px*/
@media screen and (min-width: 481px) and (max-width: 779px){

    /*css za domačo index.php stran*/
    body{
        margin: 0 0 200px;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    .site-title{
        height: 82px;
        line-height: 82px;
        margin-left: 20px;
    }
    .site-title a{
        font-size: 28px;
    }
    .site-title a:hover{
        color: black;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .burger-menu {
        height: 82px;
        line-height: 82px;
        margin-right: 20px;

    }
    nav ul li {
        height: 50px;
        text-align: center;
        line-height: 50px;
    }
    nav ul li a {
        vertical-align: middle;
        font-size: 17px;
        padding: 0;

    }
    .showing {
        max-height: 350px;
    }
    .site-welcome{
        height: 300px;
    }
    .site-welcome h1{
        max-width: 480px;
        padding-top: 115px;
    }
    .site-welcome a{
        display: none;
    }
    .fa-custom-welcome{
        display: none;
    }
    .site-about{
        margin: 38px 0 38px 0;
    }
    .site-about-inner{
        max-width: 600px;
    }
    .site-about-inner h2{
        font-size: 30px;
        margin: 0 auto;
        max-width: 500px;
        font-weight: 400;
        border-bottom: 3px solid rgb(226, 35, 35);
    }
    .site-about-hr{
        display: block;
        border: 0;
        height: 3px;
        width: 35px;
        background: rgb(226, 35, 35);
    }
    .site-about-inner i{
        display: none;
    }
    .fa-custom-about{
        display: none;
    }
    .site-about-p{
        color: rgb(0, 0, 0);
        margin: 0;
        font-size: 22px;
    }
    .site-about-chilis, .site-about-sorts, .site-about-scoville{
        max-width: 600px;
        margin: 15px auto 0 auto;
        padding: 25px 25px;

    }
    .site-about-text{
        display: block;
        text-align: center;
        line-height: 23px;
        font-size: 17px;
        color: rgb(103, 100, 100);
    }
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 200px;
        width: 100%;
    }
    .footer-contact{
        line-height: 200px;
    }
    .footer-contact ul li a:hover{
        color: black;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    /*konec cssja za domačo index.php stran*/

    /*css za registracijo uporabnika*/
    .register-user > h2{
        text-transform: uppercase;
    }
    form .register-form li{
        padding: 10px 0;
    }
    form .register-form li input{
        max-width: 550px;
    }
    form .register-form li textarea{
        max-width: 550px;
        height: 130px;
    }
    form .register-form li select{
        max-width: 550px;
    }
    form .register-form li select option{
        width:95%;
    }
    /*konec css za registracijo uporabnika*/

    /*začetek cssja za seznam čilijev*/
    .chilis-container .chili-list{
        float: left;
        width: 50%;
        height: 260px;
    }
    .chilis-container .chilis-title{
        position: relative;
    }
    .chilis-container .chilis-title h2{
        text-transform: uppercase;
        font-size: 22px;
    }
    .chilis-container .chilis-title a{
        display: inline-block;
        line-height: 29px;
        position: absolute;
        top: 2px;
        left: 10px;
        right: auto;
        text-decoration: none;
        color: rgb(226, 35, 35);
        font-size: 16px;
    }
    .chilis-container .chilis-title a:hover{
        color: black;
        -webkit-transition: color 0.4s;
        transition: color 0.4s;
    }
    .chilis-container .chilis-title a .add-new{
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
    }
    .chilis-container .chili-list a img{
        width: 100%;
        height: 260px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .chilis-container .chili-list a .chili-list-title{
        width: 100%;
        text-align: center;
        padding: 10px 10px;
        font-size: 17px;
        margin: 0;
    }
    .chilis-container .blog-posts{
        width: 100%;
    }
    .chilis-container .blog-posts .post{
        width: 100%;
        text-align: center;
    }
    .chilis-container .blog-posts .post a{
        width: 95%;
        margin: 0 auto;
        padding: 10px 0;
        text-decoration: none;
        display: block;
        color: rgb(60, 60, 60);
        font-weight: 700;

    }
    .chilis-container .blog-posts .post a:hover, a:active, a:focus{
        color: rgb(175, 174, 174);
    }
    .chilis-container .blog-posts .post a .blog-info{
        display: block;
        font-style: italic;
        font-weight: 400;
    }
    /*konec cssja za seznam čilijev*/

    /*začetek cssja za posamezen čili*/
    .chili-container .chili-container-inner{
        width: 65%;
        margin: 25px auto;

    }
    .chili-container .chili-container-inner .chili-image{
        width: 100%;
        height: 300px;
    }
    .chili-container .chili-container-inner .chili-image img{
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        height: 300px;
        border-radius: 4px;
    }
    .chili-container .chili-container-inner .chili-details {
        width: 100%;
        margin: 0 auto;
    }
    .chili-container .chili-container-inner .chili-details .chili-headings{
        margin: 20px 0 0 0;
        color: rgb(226, 35, 35);
    }
    .chili-container .chili-container-inner .chili-details .chili-paragraphs{
        margin-top: 0;
        padding: 0 3px;
        text-align: justify;
    }
    .chili-container .chili-container-inner .chili-details .chili-paragraphs:last-of-type{
        margin: 0;
    }
    .chili-container .chili-container-inner .chili-hr:nth-of-type(2),
    .chili-container .chili-container-inner .chili-hr:nth-of-type(3){
        margin: 15px 0;
        width: 100%;
        height: 2px;
        background: rgb(108, 108, 108);
    }
    .chili-container .chili-container-inner .chili-comment-container form{
        width: 100%;
        margin: 0 auto;
    }
    .chili-container .chili-container-inner .chili-comment-container label{
        font-weight: 700;
    }
    .chili-container .chili-container-inner .chili-comment-container textarea{
        min-height: 100px;
        margin: 10px 0;
    }
    .chili-container .chili-container-inner .chili-comment-container .comment-button{
        height: 30px;
    }
    .chili-container .chili-container-inner .chili-comments .user-comment{
        width: 100%;
    }
    /*konec cssja za posamezen čili*/
    /*css za izpis errorjev*/
    .error-container .error-text {
        max-width: 550px;
        padding: 10px 10px;

    }
    /*konec cssja za izpis errorjev*/


}
/*css za naprave, ki so večje od 780px ter manjše od 960px*/
@media screen and (min-width: 780px) and (max-width: 960px){

    /*css za domačo index.php stran*/
    body{
        margin: 0 0 200px;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    .site-title{
        float: none;
        text-align: center;
        height: 82px;
        margin-left: 0;
        line-height: 82px;
        background: rgb(226, 35, 35);
    }
    .site-title a{
        font-size: 28px;
        color: white;
    }
    .site-title a:hover{
        color: black;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .burger-menu {
        display: none;
    }
    .fa-custom-icon {
        display: none;
    }
    nav{
        max-height: 50px;
        border-top: none;
        text-align: center;
    }
    nav ul {
        max-width: 745px;
        margin: 0 auto;
        height: 42px;
    }
    nav ul li {
        display: inline-block;
        text-align: center;
    }
    nav ul li a {
        line-height: 42px;
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        padding: 0 5px;
    }
    nav ul li a:hover{
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: black;

    }
    .showing {
        display: none;
    }
    .site-welcome{
        height: 450px;
        background: url("../images/predstavitvena-2.jpg") no-repeat;
    }
    .site-welcome h1{
        position: relative;
        top: 165px;
        max-width: 520px;
        padding: 15px 10px;
        font-size: 36px;
        border: 5px solid white;
    }
    .site-welcome a{
        display: none;
    }
    .fa-custom-welcome{
        display: none;
    }
    .site-about{
        padding: 38px 0 38px 0;
    }
    .site-about-inner{
        max-width: 600px;
    }
    .site-about-inner h2{
        font-size: 28px;
        margin: 0 auto;
        max-width: 600px;
        border-bottom: 3px solid rgb(226, 35, 35);
        font-weight: 400;
    }
    .site-about-hr{
        display: block;
        border: 0;
        height: 3px;
        width: 35px;
        background: rgb(226, 35, 35);
    }
    .site-about-inner i{
        display: none;
    }
    .fa-custom-about{
        display: none;
    }
    .site-about-p{
        color: rgb(0, 0, 0);
        margin: 0;
        font-size: 21px;
    }
    .site-about-chilis, .site-about-sorts, .site-about-scoville{
        max-width: 600px;
        margin: 15px auto 0 auto;
        padding: 25px 25px;

    }
    .site-about-text{
        display: block;
        text-align: center;
        line-height: 23px;
        font-size: 17px;
        color: rgb(103, 100, 100);
    }
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 200px;
        width: 100%;
    }
    .footer-contact{
        height: 200px;
        max-width: 200px;
        margin: 0 auto;
        line-height: 200px;
    }
    .footer-contact ul li {
        height: 200px;
    }
    .footer-contact ul li+li{
        margin-left: 20px;
    }
    .footer-contact ul li a:hover{
        color: black;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .footer-contact ul span{
        bottom: 10px;
        left: 0px;
        width: 200px;
        font-size: 16px;
    }
    /*konec cssja za domačo index.php stran*/

    /*css za registracijo uporabnika*/
    .register-user > h2{
        margin-top: 50px;
        text-transform: uppercase;
    }
    form .register-form{
        margin: 0 auto;
        width: 600px;
    }
    form .register-form li input{
        margin: 0;
        width: 600px;
    }
    form .register-form li textarea{
        width: 600px;
        max-width: 600px;
    }
    form .register-form li select{
        width: 600px;
        max-width: 600px;
    }
    form .register-form li select option{
        width: 600px;
        max-width: 600px;
    }
    /*konec css za registracijo uporabnika*/

    /*začetek cssja za seznam čilijev*/
    .chilis-container .chilis-title h2{
        text-transform: uppercase;
    }
    .chilis-container .chilis-title{
        position: relative;
    }
    .chilis-container .chili-list{
        float: left;
        width: 33.33%;
        height: 280px;
        overflow: hidden;
    }
    .chilis-container .chilis-title a{
        display: inline-block;
        line-height: 29px;
        position: absolute;
        top: 2px;
        left: 20px;
        right: auto;
        text-decoration: none;
        color: rgb(226, 35, 35);
        font-size: 18px;
    }
    .chilis-container .chilis-title a:hover{
        color: black;
        -webkit-transition: color 0.4s;
        transition: color 0.4s;
    }
    .chilis-container .chilis-title a .add-new{
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
    }
    .chilis-container .chili-list a img{
        height: 280px;
    }
    .chilis-container .chili-list a .chili-list-title{
        -webkit-transform: translateY(-280px);
                transform: translateY(-280px);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
        display: inline-block;
        position: absolute;
        font-size: 17px;
        text-align: center;
        line-height: 280px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        margin: 0;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.6);
    }
    .chilis-container .chili-list a:hover .chili-list-title{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        display: inline-block;
        position: absolute;
        font-size: 17px;
        text-align: center;
        line-height: 280px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        margin: 0;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.6);
    }
    .chilis-container .blog-posts .post a{
        font-size: 18px;

    }
    /*konec cssja za seznam čilijev*/

    /*začetek cssja za posamezen čili*/
    .chili-container .chili-container-inner{
        width: 65%;
        margin: 25px auto;

    }
    .chili-container .chili-container-inner .chili-image{
        width: 100%;
        height: 300px;
    }
    .chili-container .chili-container-inner .chili-image img{
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        height: 300px;
        border-radius: 4px;
    }
    .chili-container .chili-container-inner .chili-details {
        width: 100%;
        margin: 0 auto;
    }
    .chili-container .chili-container-inner .chili-details .chili-headings{
        margin: 20px 0 0 0;
        color: rgb(226, 35, 35);
    }
    .chili-container .chili-container-inner .chili-details .chili-paragraphs{
        margin-top: 0;
        padding: 0 3px;
        text-align: justify;
    }
    .chili-container .chili-container-inner .chili-details .chili-paragraphs:last-of-type{
        margin: 0;
    }
    .chili-container .chili-container-inner .chili-hr:nth-of-type(2),
    .chili-container .chili-container-inner .chili-hr:nth-of-type(3){
        margin: 15px 0;
        width: 100%;
        height: 2px;
        background: rgb(108, 108, 108);
    }
    .chili-container .chili-container-inner .chili-comment-container form{
        width: 100%;
        margin: 0 auto;
    }
    .chili-container .chili-container-inner .chili-comment-container label{
        font-weight: 700;
    }
    .chili-container .chili-container-inner .chili-comment-container textarea{
        min-height: 100px;
        margin: 10px 0;
    }
    .chili-container .chili-container-inner .chili-comment-container .comment-button{
        height: 30px;
    }
    .chili-container .chili-container-inner .chili-comments .user-comment{
        width: 100%;
    }
    /*konec cssja za posamezen čili*/
    /*css za izpis errorjev*/
    .error-container .error-text {
        max-width: 600px;
        width: 600px;
        margin: 0 auto;
        border: 1px solid rgb(35, 83, 226);
        background: rgb(35, 83, 226);;
        padding: 10px 10px;
        border-radius: 5px;
        text-align: center;
        color: white;
        margin-bottom: 15px;
    }
    /*konec cssja za izpis errorjev*/

}
/*css za naprave, ki so večje od 961px ter manjše od 1140px*/
@media screen and (min-width: 961px) and (max-width: 1140px){

    /*začetek cssja za domači index.php stran*/
    body{
        margin: 0 0 300px;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    .site-title{
        float: none;
        text-align: center;
        height: 82px;
        line-height: 82px;
        margin-left: 0;
        background: rgb(226, 35, 35);
    }
    .site-title a{
        font-size: 28px;
        color: white;
    }
    .site-title a:hover{
        color: black;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .burger-menu {
        display: none;
    }
    .fa-custom-icon {
        display: none;
    }
    nav{
        max-height: 82px;
        border-top: none;
        text-align: center;
    }
    nav ul {
        max-width: 785px;
        margin: 0 auto;
        height: 42px;
    }
    nav ul li {
        display: inline-block;
        text-align: center;
    }
    nav ul li a {
        line-height: 42px;
        display: inline-block;
        vertical-align: middle;
        font-size: 17px;
        padding: 0 5px;
    }
    nav ul li a:hover{
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: black;
    }
    .showing {
        display: none;
    }
    .site-welcome{
        height: 550px;
        background: url("../images/predstavitvena-2.jpg") no-repeat;
    }
    .site-welcome h1{
        position: relative;
        top: 200px;
        max-width: 600px;
        padding: 15px 10px;
        font-size: 37px;
        border: 5px solid white;
    }
    .site-welcome a{
        display: none;
    }
    .fa-custom-welcome{
        display: none;
    }
    .site-about{
        padding: 38px 0 38px 0;
    }
    .site-about-inner{
        max-width: 720px;
    }
    .site-about-inner h2{
        font-size: 28px;
        margin: 0 auto;
        max-width: 700px;
        border-bottom: 3px solid rgb(226, 35, 35);
        font-weight: 400;
    }
    .site-about-hr{
        display: block;
        border: 0;
        height: 3px;
        width: 35px;
        background: rgb(226, 35, 35);
    }
    .site-about-inner i{
        display: none;
    }
    .fa-custom-about{
        display: none;
    }
    .site-about-p{
        color: rgb(0, 0, 0);
        margin: 0;
        font-size: 23px;
    }
    .site-about-chilis, .site-about-sorts, .site-about-scoville{
        max-width: 720px;
        margin: 15px auto 0 auto;
        padding: 25px 25px;

    }
    .site-about-text{
        display: block;
        text-align: center;
        line-height: 23px;
        font-size: 17px;
        color: rgb(103, 100, 100);
    }
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 200px;
        width: 100%;
    }
    .footer-contact{
        height: 200px;
        max-width: 250px;
        margin: 0 auto;
        line-height: 200px;
    }
    .footer-contact ul li {
        height: 200px;
    }
    .footer-contact ul li+li{
        margin-left: 25px;
    }
    .footer-contact ul li a{
        font-size: 21px;
    }
    .footer-contact ul li a:hover{
        color: black;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .footer-contact ul span{
        bottom: 10px;
        left: 0px;
        width: 250px;
        font-size: 16px;
    }
    /*konec cssja za domačo index.php stran*/

    /*css za registracijo uporabnika*/
    .register-user h2{
        margin-top: 50px;
    }
    form .register-form{
        margin: 0 auto;
        width: 600px;
    }
    form .register-form li{
        text-align: left;
    }
    form .register-form li input{
        font-size: 17px;
        margin: 0;
        width: 600px;
        padding: 10px 25px;
    }
    form .register-form li textarea{
        font-size: 17px;
        margin: 0;
        width: 600px;
        max-width: 600px;
        padding: 10px 25px;
    }
    form .register-form li select{
        font-size: 17px;
        margin: 0;
        width: 600px;
        padding: 10px 25px;
    }
    form .register-form li select option{
        width: 600px;
        max-width: 600px;
    }
    /*konec css za registracijo uporabnika*/

    /*začetek cssja za seznam čilijev*/
    .chilis-container .chilis-title h2{
        text-transform: uppercase;
    }
    .chilis-container .chili-list{
        float: left;
        width: 33.33%;
        height: 280px;
        overflow: hidden;
    }
    .chilis-container .chilis-title{
        position: relative;
    }
    .chilis-container .chilis-title a{
        display: inline-block;
        line-height: 29px;
        position: absolute;
        top: 2px;
        left: 15px;
        right: auto;
        text-decoration: none;
        color: rgb(226, 35, 35);
        font-size: 18px;
    }
    .chilis-container .chilis-title a:hover{
        color: black;
        -webkit-transition: color 0.4s;
        transition: color 0.4s;
    }
    .chilis-container .chilis-title a .add-new{
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
    }
    .chilis-container .chili-list a img{
        height: 280px;
    }

    .chilis-container .chili-list a .chili-list-title{
        -webkit-transform: translateY(-280px);
                transform: translateY(-280px);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
        display: inline-block;
        position: absolute;
        font-size: 17px;
        text-align: center;
        line-height: 280px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        margin: 0;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.6);
    }
    .chilis-container .chili-list a:hover .chili-list-title{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        display: inline-block;
        position: absolute;
        font-size: 17px;
        text-align: center;
        line-height: 280px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        margin: 0;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.6);
    }
    .chilis-container .blog-posts .post a{
        font-size: 18px;

    }
    /*konec cssja za seznam čilijev*/

    /*začetek cssja za posamezen čili*/
    .chili-container .chili-container-inner{
        width: 65%;
        margin: 25px auto;

    }
    .chili-container .chili-container-inner .chili-image{
        width: 100%;
        height: 350px;
    }
    .chili-container .chili-container-inner .chili-image img{
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        height: 350px;
        border-radius: 4px;
    }
    .chili-container .chili-container-inner .chili-details {
        width: 100%;
        margin: 0 auto;
    }
    .chili-container .chili-container-inner .chili-details .chili-headings{
        margin: 20px 0 0 0;
        color: rgb(226, 35, 35);
    }
    .chili-container .chili-container-inner .chili-details .chili-paragraphs{
        margin-top: 0;
        padding: 0 3px;
        text-align: justify;
    }
    .chili-container .chili-container-inner .chili-details .chili-paragraphs:last-of-type{
        margin: 0;
    }
    .chili-container .chili-container-inner .chili-hr:nth-of-type(2),
    .chili-container .chili-container-inner .chili-hr:nth-of-type(3){
        margin: 15px 0;
        width: 100%;
        height: 2px;
        background: rgb(108, 108, 108);
    }
    .chili-container .chili-container-inner .chili-comment-container form{
        width: 100%;
        margin: 0 auto;
    }
    .chili-container .chili-container-inner .chili-comment-container label{
        font-weight: 700;
    }
    .chili-container .chili-container-inner .chili-comment-container textarea{
        min-height: 100px;
        margin: 10px 0;
    }
    .chili-container .chili-container-inner .chili-comment-container .comment-button{
        height: 30px;
    }
    .chili-container .chili-container-inner .chili-comments .user-comment{
        width: 100%;
    }
    /*konec cssja za posamezen čili*/

    /*css za izpis errorjev*/
    .error-container .error-text {
        max-width: 600px;
        width: 600px;
    }
    /*konec cssja za izpis errorjev*/
}

/*css za naprave, ki so večje od 1141px*/
@media screen and (min-width: 1141px){
    /*css za domači index.php stran*/
    body{
        margin: 0 0 300px;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    header{
        min-height: 82px;
        border-bottom: 2px solid rgb(226, 35, 35);
    }
    header > .clear-fix{
        display: none;
    }
    .site-title{
        text-align: center;
        height: 82px;
        line-height: 82px;
        float: left;
    }
    .site-title a{
        font-size: 26px;
    }
    .site-title a:hover{
        color: black;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .burger-menu {
        display: none;
    }
    .fa-custom-icon {
        display: none;
    }
    nav{
        max-height: 82px;
        float: right;
        height: 82px;
    }
    nav ul {
        max-width: 830px;
        margin: 0 auto;
        height: 82px;
        box-sizing: border-box;
    }
    nav ul li {
        float: left;
        height: 82px;
        text-align: center;
        line-height: 82px;
    }
    nav ul li a {
        display: inline-block;
        font-size: 16px;
        padding: 0 7px;
    }
    nav ul li:hover, nav ul li a:hover{
        color: black;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .showing {
        display: none;
    }
    .site-welcome{
        height: 650px;
        background: url("../images/predstavitvena-2.jpg") no-repeat;
    }
    .site-welcome h1{
        position: relative;
        top: 250px;
        max-width: 600px;
        padding: 15px 10px;
        font-size: 38px;
        border: 5px solid white;
    }
    .site-welcome a{
        display: none;
    }
    .fa-custom-welcome{
        display: none;
    }
    .site-about{
        padding: 38px 0 38px 0;
    }
    .site-about-inner{
        max-width: 850px;
    }
    .site-about-inner h2{
        font-size: 30px;
        border-bottom: 3px solid rgb(226, 35, 35);
        font-weight: 400;
    }
    .site-about-hr{
        display: block;
        border: 0;
        height: 3px;
        width: 35px;
        margin: 30px auto;
        background: rgb(226, 35, 35);
    }
    .site-about-inner i{
        display: none;
    }
    .fa-custom-about{
        display: none;
    }
    .site-about-p{
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 15px 15px;
        margin: 0;
        font-size: 24px;
    }
    .site-about-chilis, .site-about-sorts, .site-about-scoville{
        max-width: 750px;
        margin: 15px auto 0 auto;
        padding: 25px 25px;

    }
    .site-about-text{
        display: block;
        text-align: center;
        line-height: 23px;
        font-size: 18px;
        color: rgb(103, 100, 100);
    }
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 200px;
        width: 100%;
    }
    .footer-contact{
        height: 200px;
        max-width: 250px;
        margin: 0 auto;
        line-height: 200px;
    }
    .footer-contact ul{
        height: 200px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .footer-contact ul li{
        height: 200px;
        list-style: none;
        display: inline-block;
    }
    .footer-contact ul li+li{
        margin-left: 25px;
    }
    .footer-contact ul li a{
        color: white;
        font-size: 22px;
    }
    .footer-contact ul li a:hover{
        color: black;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .footer-contact ul span{
        bottom: 10px;
        left: 0px;
        width: 250px;
        line-height: initial;
        font-size: 16px;
        color: white;
    }
    /*konec cssja za domačo stran*/

    /*css za registracijo uporabnika*/
    .register-user{
        border: none;
    }
    .register-user h2{
        margin-top: 50px;
    }
    form .register-form{
        margin: 0 auto;
        width: 600px;
    }
    form .register-form li{
        text-align: left;
    }
    form .register-form li input{
        font-size: 17px;
        margin: 0;
        width: 600px;
        padding: 10px 25px;
    }
    form .register-form li textarea{
        font-size: 17px;
        margin: 0;
        height: 150px;
        width: 600px;
        max-width: 600px;
        padding: 10px 25px;
    }
    form .register-form li select{
        font-size: 17px;
        margin: 0;
        width: 600px;
        padding: 10px 25px;
    }
    form .register-form li select option{
        width: 600px;
        max-width: 600px;
    }
    /*konec css za registracijo uporabnika*/

    /*začetek cssja za seznam čilijev*/
    .chilis-container{
        border: none;
        margin: 0 auto;
        max-width: 1100px;
    }
    .chilis-container .chilis-title{
        position: relative;
    }
    .chilis-container .chilis-title h2{
        text-transform: uppercase;
        margin: 35px 0 35px 0;
    }
    .chilis-container .chilis-title a{
        display: inline-block;
        line-height: 29px;
        position: absolute;
        top: 1px;
        left: 5px;
        right: auto;
        text-decoration: none;
        color: rgb(226, 35, 35);
        font-size: 18px;
    }
    .chilis-container .chilis-title a:hover{
        color: black;
        -webkit-transition: color 0.4s;
        transition: color 0.4s;
    }
    .chilis-container .chilis-title a .add-new{
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
    }
    .chilis-container .chili-list{
        float: left;
        width: 24%;
        height: 280px;
        margin: 0 5px 10px 5px;
        overflow: hidden;

    }
    .chilis-container .chili-list a img{
        height: 280px;
    }
    .chilis-container .chili-list a .chili-list-title{
        -webkit-transform: translateY(-280px);
                transform: translateY(-280px);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
        display: inline-block;
        position: absolute;
        font-size: 17px;
        text-align: center;
        line-height: 280px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        margin: 0;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.6);
    }
    .chilis-container .chili-list a:hover .chili-list-title{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        display: inline-block;
        position: absolute;
        font-size: 17px;
        text-align: center;
        line-height: 280px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        margin: 0;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.6);
    }
    .chilis-container .blog-posts .post a{
        font-size: 18px;

    }
    /*konec cssja za seznam čilijev*/

    /*začetek cssja za posamezen čili*/
    .chili-container{
        border-top: 0;
    }
    .chili-container .chili-container-inner{
        width: 65%;
        max-width: 1000px;
        margin: 25px auto;

    }
    .chili-container .chili-container-inner .chili-image{
        width: 100%;
        height: 450px;
    }
    .chili-container .chili-container-inner .chili-image img{
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        height: 450px;
        border-radius: 4px;
    }
    .chili-container .chili-container-inner .chili-details {
        width: 100%;
        margin: 0 auto;
    }
    .chili-container .chili-container-inner .chili-details .chili-headings{
        margin: 20px 0 0 0;
        color: rgb(226, 35, 35);
    }
    .chili-container .chili-container-inner .chili-details .chili-paragraphs{
        margin-top: 0;
        padding: 0 3px;
        text-align: justify;
    }
    .chili-container .chili-container-inner .chili-details .chili-paragraphs:last-of-type{
        margin: 0;
    }
    .chili-container .chili-container-inner .chili-hr:nth-of-type(2),
    .chili-container .chili-container-inner .chili-hr:nth-of-type(3){
        margin: 30px 0;
        width: 100%;
        height: 1px;
        background: rgb(226, 35, 35);
    }
    .chili-container .chili-container-inner .chili-comment-container form{
        width: 100%;
        margin: 0 auto;
    }
    .chili-container .chili-container-inner .chili-comment-container label{
        font-weight: 700;
    }
    .chili-container .chili-container-inner .chili-comment-container textarea{
        min-height: 150px;
        margin: 10px 0;
    }
    .chili-container .chili-container-inner .chili-comment-container .comment-button{
        height: 30px;
        width: 150px;
    }
    .chili-container .chili-container-inner .chili-comments .user-comment{
        width: 100%;
    }
    /*konec cssja za posamezen čili*/
    /*css za izpis errorjev*/
    .error-container .error-text {
        max-width: 600px;
        width: 600px;
    }
    /*konec cssja za izpis errorjev*/
}
